HELP.md

### IntelliJ IDEA ###
/.idea/
/*.iws
/*.iml
/*.ipr

/OrderService/.mvn/
/OrderService/target/
/OrderService/.idea/

/ProductService/target/
/ProductService/.mvn/
/ProductService/.idea/

/ServiceRegistry/.mvn/
/ServiceRegistry/.idea/
/ServiceRegistry/target/

